body, html {
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: bold
}

.bio {
  font-style: italic
}

body {
  font-family: "Times New Roman", Times, serif;
}
  
p {
  font-size: large;
}  

.button {
  background-color: rgb(0, 153, 204);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
  display: block;
  margin: 0 auto;
}
