---
---


.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}


body {
  color: #181818;
  font-family: monospace, monospace;
  font-size: 10em
}

.parallax-base div {
  opacity: .7;
  background: rgba(0, 0, 0, 0.1);
}

.parallax-container {
  position: absolute; 
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}



.parallax-base {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 500px;
  height: 300px;
  margin: 30px;
}

.layer-1 {
  position: absolute;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
}

.layer-2 {
  position: absolute;
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
}

.layer-3 {
  position: absolute;
  -webkit-transform: translateZ(160px);
  -moz-transform: translateZ(160px);
}
