
   <!DOCTYPE html> <!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html><head>
   <meta charset="UTF-8">
   <meta name="description" content="Abdul Jeter">
   <meta name="keywords" content="abdul, Abdul, jeter, Jeter, Abdul Jeter, abdul jeter, github, abdul-j.github.io, abdul-j">
   <meta name="author" content="Abdul Jeter">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="css/style.css">
   {% seo %}</head><body>
<span itemscope itemtype="http://schema.org/LocalBusiness"><h1 itemprop="name">Abdul Aziz Jeter</h1>
<script src="js/scripts.js"></script>
<p>
Image:
	
 <br/>
Telephone:
	
 <br/>
Email:
<span itemprop="email">abduljbusiness@gmail.com</span>
	<br/>
 
Address
	
 <br/>
Street address:
	<br/>
 
Locality/City:
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="addressLocality">Philadelphia</span>
	
 <br/>
Region/State:
<span itemprop="addressRegion">Pennsylvania</span>
	
 <br/>
Country:
<span itemprop="addressCountry">United States</span>
	<br/>
 
Postal code:
<span itemprop="postalCode">19146</span>
	</span><br/>
 
Opening hours: 12AM - 12PM
	
 <br/>
Day of week:
<span itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
<span itemprop="dayOfWeek" itemscope itemtype="http://schema.org/DayOfWeek">
<span itemprop="name">7</span>
	</span></span><br/>
 
Opening time: 12AM
	<br/>
 
Closing time: 12PM
	<br/>
 
URL: 
<span itemprop="url">abdul-j.github.io</span>
	<br/>
</p></span> 
			{{ content }}
      
  </body>
</html>
